@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

:root {
    --letterColor: #ffffffad;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Patrick Hand', cursive;
    color: #fff;
}

.section-body {
    max-width: 1140px;
    margin: auto;
}

.dark-left {
    background: linear-gradient(135deg, #222020, #8b1b1b);
}

.ligth-left {
    background: linear-gradient(225deg, #222020, #8b1b1b);
}

/* Header Style */
header {
    background: #000;
    height: 100px;
}

.header-menu {
    max-width: 1140px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-menu a {
    color: var(--letterColor);
    text-shadow: 0 0 10px #8d8d8d,
                 0 0 25px #8d8d8d,
                 0 0 50px #8d8d8d;
    font-size: 36px;
    letter-spacing: 6px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--letterColor);
}

/*
start - button menu
*/

.list-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-menu a {
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    margin: 0 10px;
    color: #272424;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(225deg, #a02b2b, #7a1e1e);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.377);
}

    .item-menu a:hover {
        background: #ffffff;
        color: #000;
        /* efeito de reflexo */
        -webkit-box-reflect: below -10px linear-gradient(transparent, #0005);
    }

.item-menu a span {
    position: absolute;
    display: block;
}

.item-menu a span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #fff);
    animation: animate1 1s linear infinite;
}

    @keyframes animate1 {
        0% {
            left: -100%
        }
        50%, 100% {
            left: 100%;
        }
    }

.item-menu a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #fff);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

    @keyframes animate2 {
        0% {
            top: -100%; 
        }
        50%, 100% {
            top: 100%;
        }
    }

.item-menu a span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #fff);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}

    @keyframes animate3 {
        0% {
            right: -100%; 
        }
        50%, 100% {
            right: 100%;
        }
    }

.item-menu a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #fff);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}

    @keyframes animate4 {
        0% {
            bottom: -100%; 
        }
        50%, 100% {
            bottom: 100%;
        }
    }    

/* end - button menu */

.list-menu-hover {
    display: none;
}

.icon-menu-bar {
    display: none;
    color: var(--letterColor);
    text-shadow: 0 0 10px #8d8d8d,
                 0 0 25px #8d8d8d,
                 0 0 50px #8d8d8d;
    font-size: 40px;
    cursor: pointer;
}

.border-divider {
    width: 100%;
    height: 3px;

    background-color: rgb(163, 163, 163);
}

/* Main Home Style */

.perfil-about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    gap: 150px;
}

.content-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.content {
    display: flex;
    align-items: center;
    gap: 150px;
}

.content-text {
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    color: #ffffffad;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.btn-title {
    background-color: rgb(34, 32, 32);
    padding: 20px 30px;
    font-size: 24px;
    border-radius: 40px;
    box-shadow: 5px 5px 8px rgb(48, 16, 16);
    border: 1px solid rgb(48, 16, 16);
}

    .btn-title:hover {
        border-radius: 45px;
        border: 1px solid #8d2e2e;
        background-color: rgb(82, 24, 24);
        box-shadow: inset 5px 5px 8px rgb(48, 16, 16);
        color:  rgb(207, 194, 194);
    }

.card-img{
    width: 300px;
    height: 250px;
    border-radius: 50%;
    border: 6px solid #fff;
    overflow: hidden;
    box-shadow: 0px 0px 20px #000;
}

.card-img img {
    width: 100%;
    height: 100%;
    transition: 2s;
}

    .card-img:hover img{
        scale: 1.5;
    }

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.section-information {
    font-size: 30px;
    color: var(--letterColor);
    text-shadow: 2px 2px 5px rgb(36, 36, 36);
    margin-top: 80px;
    padding: 10px 100px;
    border-radius: 100px 15px;
    background-color: #ffffff6c;
}

/* Main About Style */
.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-text {
    margin: 100px 0 80px 0;
}

.section-learning {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.languages {
    margin: 100px 0;
    height: 500px;
}

.html-css-js {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 60px;
    box-shadow: inset 15px 15px 50px #fca2a2,
                inset -15px -15px 50px#fca2a2;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.html-css-js img {
    width: 500px;
}

.languages-informations{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}  

.list-language {
    display: flex;
    margin: auto;
}

.content-item {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    gap: 20px;
    list-style: none;
    cursor: pointer;
    padding: 5px;
}

.content-item img {
    width: 150px;
    padding: 20px;
    border: 3px solid #bbb;
    border-radius: 20px;
    filter: grayscale();
    background-color: #aaa;
}

.content-language-text {
    opacity: 0;
}

    .content-item img:hover {
        filter: none;
        box-shadow: inset 5px 5px 15px #646464,
                    inset -5px -5px 15px #646464;
        border: 3px solid #646464;
    }
 
    .content-item img:hover + .content-language-text {
        text-align: center;
        width: 80%;
        border-radius: 15px;
        transition: 1s;
        opacity: 1;
        scale: 1.5;
        margin-top: 10px;
    }

/*
MY PROJECTS
*/

.my-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-row {
    display: flex;
    height: 350px;
    justify-content: center;
    align-items: center;
}

.section-projects{
    margin: 120px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-box {
    display: flex;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    background: linear-gradient(170deg, rgba(184, 22, 22, 0.5) 0%, rgb(31, 31, 31) 100%);
    position: relative;
    box-shadow: 0 25px 50px rgba(0,0,0,0.55);
    cursor: pointer;
    transition: all .3s;
}
  
.card-box:hover {
    transform: scale(1);
    width: 350px;
    height: 350px;
    transform: rotate(6deg);
}

.card-box:hover ~ .card-box {
    z-index: 1;
    translate: 170px;
}

.card-box img {
    max-width: 100%;
    border-radius: 20px;
    padding: 20px;
}

  
.card-box span {
    position: absolute;
    overflow: hidden;
    width: 150px;
    height: 150px;
    top: -10px;
    left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  .card-box span::before {
    content: 'Em Breve';
    position: absolute;
    width: 150%;
    height: 40px;
    background-image: linear-gradient(45deg, #b32f2f 0%, #ff8944  51%, #b32f2f  100%);
    transform: rotate(-45deg) translateY(-20px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;

    font-size: 26px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.534);
    box-shadow: 0 5px 10px rgba(0,0,0,0.23);
  }
  
  .card-box span::after {
    content: '';
    position: absolute;
    width: 10px;
    bottom: 0;
    left: 0;
    height: 10px;
    z-index: -1;
    box-shadow: 140px -140px #cc3f47;
    background-image: linear-gradient(45deg, #b32f2f 0%, #ff8944  51%, #b32f2f  100%);
  }

.card-box + .card-box {
    margin-left: -10%;
}


/* Footer Style */

footer {
    background: #000;
    padding: 40px 150px;
}

.section-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section-footer-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

footer a {
    background-color: #df9979;
    box-shadow: inset 2px 2px 10px #ffc3a1,
                inset -2px -2px 10px #8f2121;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-link img {
    width: 25px; 
}

.section-footer-text {
    font-size: 20px;
}

/* ----------------------- Reponsividade ----------------------- */

@media (max-width: 600px) {

    .header-menu {
        max-width: 300px;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .name-menu a{
        font-size: 18px;
    }

    .menu-options {
        display: none;
    }

    .icon-menu-bar {
        display: flex;
    }

    .section-body {
        max-width: 300px;
        margin: auto;
    }

    .content {
        flex-direction: column;
    }

    .perfil-about {
        padding: 550px 0;
    }

    .card-img {
        width: 250px;
        height: 250px;
    }

    .section-information {
        font-size: 24px;
        padding: 10px 80px;
        text-align: center;
    }

    .content-text {
        font-size: 28px;
    }

    .languages {
        width: 340px;
        height: 500px;
    }

    .html-css-js {
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 60px;
        box-shadow: inset 15px 15px 50px #fca2a2,
                    inset -15px -15px 50px#fca2a2;
        margin-bottom: 60px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .html-css-js img {
        width: 250px;        
    }

    .content-item img {
        width: 100px;
        padding: 10px;
        border: 3px solid #bbb;
        border-radius: 20px;
        filter: grayscale();
        background-color: #aaa;
    }

    .project-row {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .no-projects {
        display: none;
    }

    .card-box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 150px;
        border-radius: 20px;
        background: linear-gradient(170deg, rgba(184, 22, 22, 0.5) 0%, rgb(31, 31, 31) 100%);
        position: relative;
        box-shadow: 0 25px 50px rgba(0,0,0,0.55);
        cursor: pointer;
        transition: all .3s;
    }
      
    .card-box:hover {
        transform: scale(1);
    }
    
    .card-box:hover ~ .card-box {
        z-index: 1;
    }
    
    .card-box img {
        max-width: 100%;
        border-radius: 20px;
        padding: 20px;
    }
    
      
    .card-box span {
        display: none;
    }

    .section-footer {
        flex-direction: column;
        gap: 30px;
    }

    .section-footer-text p{
        font-size: 16px;
        width: 300px;
        text-align: center;
    }

    .footer-link {
        width: 40px;
        height: 40px;
    }

    .footer-link img {
        width: 20px;
    }

}